body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: sans-serif;
    line-height: 1.6;
}

h1 {
    font-weight: normal;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
